@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 62.5%
}
body {  
    font-family: "poppins", sans-serif;
    background-color: grey;
}
.container { 
    display: flex; 
    width: 100%; 
    height: auto;
    margin: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(110, 94, 74);
    
}
nav { 
    /* display: flex; */
    /* flex-direction: row; */
    background-color: rgba(79, 123, 79, 0.57);
    /* justify-content: space-between; */
    box-shadow: 0 0 12px -2px grey;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin-bottom: 0px;
}

li {
    display: inline-block;
    /* This rule transformed the list into a span element */
    color: white;
    text-align: center;
    padding: 30px 10px;
    /* Use this to put space between the list */
    text-decoration: none;
  }

img { 
    padding: 30px;
}
h1 { 
    font-weight: 800; 
    font-size: 3.6rem;
}
h2 { 
    font-weight: 800;
    font-size: 2.4rem;
    color: rgb(219, 212, 212);
    text-decoration:underline
}
h3 { 
    font-size: 1.4rem;
}
p { 
    font-weight: 400;
    font-size: 1.8rem;
    border: 2px solid transparent;
    padding: 2px;
    margin: 3px;
    justify-content: center;
    /* margin: 1.6rem 0;   */
    /* This shorthand means [top/bottom] is 1.6 and [right/left] is 0  */
}
a { 
    text-decoration: none;
    color: white;
}
footer {
    display: flex;
    /* padding: 0px 20px 0px 20px; */
    width: 100%;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    position:sticky;
    left: 0;
    right: 0;
    bottom: 0;
}

@media  (max-width: 645px) { 
    h2, h3 { 
        font-size: 1.4rem; 
}

}
@media  (max-width: 380px) { 
    h2, h3 { 
        font-size: 1.2rem; 
}

}
@media  (max-width: 321px) { 
    h2, h3 { 
        font-size: .9rem; 
    }
}

@media  (max-width: 330px) { 
    body { 
        position: fixed;
        height: auto;
        width: auto;
    }
}