
body {
    font-family: Arial, sans-serif;
    background-color: rgba(79, 123, 79, 0.57);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h2 {
    text-align: center;
}

.form-group {
    margin: 15px 0;
    padding-right: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group textarea {
    height: 150px;
}

.form-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}
