body {
    background-color: grey;
}
p {
    display: block;
    margin-right: 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333333;
    color: rgb(181, 226, 178);
    height: 50px;
    padding: 10px;
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
}
main {
    padding: 20px 24px 96px;
    background-color: rgba(144, 209, 87, 0.616);
    font-family: monospace;
    margin: 0px -7px -200px -7px;    
    min-height: 100vh;
    height: 100%;
    text-align: center;
}
header { 
    text-align: center;
}
footer {
    background-color: #333333;
    color: aliceblue;
    height: 70px;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px -2px black;
}
.hobbies {
    float: none;
    border: 2px solid black;
    margin-bottom: 25px;
}
a { 
    color: rgb(181, 226, 178);
}
h3 {
    text-align: left;
    margin-top: 4em;
    font-size: 20px;

}
#h2 { 
    font-size: 20px
}
p {
    font-size: 15px;
}
.active { 
    color: rgb(219, 186, 186);

}
hr { 
    border-top: 1px solid black;
    width: 120rem;
}
.media-link { 
    height: 45px;
}